@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Prata&display=swap');
@import "tailwindcss";

.active{
  background-color: #ffebf5;
  border-color: #C586A5;
}

select,input,textarea{
  border:1px solid #C2C2C2;
  outline-color: #C586A5;
  border-radius: 4px;
}

*{
  font-family: Outfit;
}